extends layout
block content
  header
    h1 Projekt-
      em R
    hr
    p Browser Tab Live
      strong  Streaming

  section.row.stream
    h2 Currently Streaming
    .stream-list
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen
      .row
        .medium-6.columns
          h3 Albert’s Pandora Stream
        .medium-2.columns
          p 12
            small Listening
        .medium-2.columns
          p 32
            small Streaming Time
        .medium-2.columns
          a.button.yo-play-it(href="#") Listen